{% extends 'base.html' %}
{% load i18n %}

{% block title %}Trading Locally - {% trans "About Us" %}{% endblock %}

{% block content %}

<div class="card animate-on-scroll">
    <div class="block-heading">
            <h2 class="section-title" style="text-align: center;">{% blocktrans %}About Us{% endblocktrans %}</h2>
     </div>
    <p>در تریدینگ لوکالی (TradingLocally)، داستان ما از یک ایده خلاقانه آغاز شد. با 25 سال تجربه در دنیای کسب‌وکار، تصمیم گرفتیم که ترید را به سطح جدیدی برسانیم. ما به دنبال حل مشکلات روزمره تریدرها با استفاده از تکنولوژی‌های پیشرفته هستیم. تیم ما متشکل از برنامه‌نویسان حرفه‌ای در حوزه‌های ام کیو ال و هوش مصنوعی است که ابزارهایی مانند داشبورد مدیریت سرمایه و بک تست استراتژی‌ها را طراحی کرده‌اند تا شما بتوانید با دقت و اطمینان بیشتر ترید کنید. تریدینگ لوکالی به شما کنترل کامل بر معاملاتتان می‌دهد. ابزارهای ما به شما امکان می‌دهند تا با اعتماد به نفس تصمیم‌گیری کنید و بهره‌وری خود را به حداکثر برسانید. ما معتقدیم که موفقیت شما، موفقیت ماست. داستان‌های موفقیت تریدرهای ما نشان می‌دهد که چگونه با استفاده از ابزارهای ما به اهداف خود رسیده‌اند. امنیت و پایداری در اولویت ماست و ما همیشه در کنار شما هستیم تا اطمینان حاصل کنیم که تجربه‌ای بی‌نظیر از ترید دارید.</p>
</div>
{% endblock %}
