{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Trading Locally - Admin Panel" %}{% endblock %}

{% block content %}
<style>
.cart {
	margin-bottom: 40px;
}

</style>
<div class="card animate-on-scroll">

<div class="block-heading">
            <h2 class="section-title" style="text-align: center;">{% blocktrans %}Admin Panel{% endblocktrans %}</h2>
     </div>


<div class="cart">
	<h3 class="section-title" style="font-size: 1.5rem;">{% blocktrans %}Customer Management{% endblocktrans %}</h3>
    <a href="{% url 'list_of_customers' %}" class="btn btn-primary">{% trans "Customers" %}</a>
    <a href="{% url 'list_of_requests' %}" class="btn btn-primary">{% trans "Requests" %}</a>
    <a href="{% url 'ticket_management' %}" class="btn btn-primary">{% trans "Tickets" %}</a>
    <a href="{% url 'manage_subscriptions' %}" class="btn btn-primary">{% trans "Subscriptions" %}</a>
    
</div>
<div class="cart">
	<h3 class="section-title" style="font-size: 1.5rem;">{% blocktrans %}Product Management{% endblocktrans %}</h3>
    <a href="{% url 'list_of_products' %}" class="btn btn-primary">{% trans "Products" %}</a>
    <a href="{% url 'shop' %}" class="btn btn-primary">{% trans "Shop" %}</a>
</div>
<div class="cart">
	<h3 class="section-title" style="font-size: 1.5rem;">{% blocktrans %}Messaging{% endblocktrans %}</h3>
    <a href="{% url 'send_public_message' %}" class="btn btn-primary">{% trans "Send Public Message" %}</a>
    <a href="{% url 'send_private_message' %}" class="btn btn-primary">{% trans "Send Private Message" %}</a>
    <a href="{% url 'inbox' %}" class="btn btn-primary">{% trans "Inbox" %}</a>
</div>
    

</div>


{% endblock %}
