{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Trading Locally - List of Products" %}{% endblock %}
{% block content %}

 

    <div class="card animate-on-scroll">
        <div class="block-heading">
            <h2 class="section-title" style="text-align: center;">{% blocktrans %}Products{% endblocktrans %}</h2>
        </div>
       <div class="products-container">
            {% for product in products %}
            <div class="product-card animate-on-scroll">
                <div class="heading">
                    <h3>{{ product.persian_name }}</h3>
                </div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 40%;">
                <p></p>
                <div class="features">
                    {% for key, value in product.features.items %}
                        <h4><span class="feature">{{ key }}:&nbsp;</span><span>{{ value }}</span></h4>
                    {% endfor %}
                </div>
                
                <a href="{% url 'product_detail' product.id %}" class="btn d-block w-100" type="button">{% trans "More..." %}</a>
            </div>
            {% endfor %}
        </div>
      </div>

{% endblock %}

