{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Trading Locally - Send Public Message" %}{% endblock %}

{% block content %}
<div class="container"> 

<div class="card animate-on-scroll"> 
	<h2 class="section-title" style="text-align: center;">{% trans "Send Public Message" %}</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="message">{% trans "Message" %}:</label>
        <input type="text" id="message" name="message" required>
    </div>
    <div>
        <label for="expiry_date">{% trans "Expiry Date" %}:</label>
        <input type="datetime-local" id="expiry_date" name="expiry_date" required>
    </div><p></p>
    <button type="submit" class="btn">{% trans "Send" %}</button>
</form>
</div>
</div>
{% endblock %}


